body{font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('training-828732_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.left{/*border: 2px solid red;*/
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 20px;

}
.left div{
    text-align:center ;
}
.left img{
    width: 100px;
    filter: invert(100%);
    line-height: 19px;
    font-size: 20px;
}
.mid{
    /*border: 2px solid blueviolet;*/
    display: block;
    width: 50%;
    margin: 20px auto;


}
.right{
    /*border: 2px solid violet;*/
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;

}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: grey;
} 
.btn{font-family: 'Baloo Bhai 2', cursive;
    margin: 15px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(80, 76, 76);
}
.container{   
    font-family: 'Baloo Bhai 2', cursive;
    border: 2px solid white;
    margin: 90px 320px;
    border-radius: 28px;
    padding: 70px;
    width: 33%;
}
.form-group input{
    text-align: center;
    display: block;
    width: 508px;
    font-family: 'Baloo Bhai 2', cursive; 
    border: 2px solid black;
    padding: 1px;
    margin: 4px auto;
    border-radius: 8px;
    font-size: 20px;
}
.container button{
    margin: 20px auto ;
display: block;
width:60% ;
}